<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item href="#">
          Prueba técnica Pablo Struth
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
