<template>
  <transition name="fade">
    <img
      v-show="loaded"
      class="image-card"
      fluid
      :alt="image.title"
      :src="image.url"
      @load="onLoad()"
    >
  </transition>
</template>

<script>
export default {
  // eslint-disable-next-line vue/require-prop-types
  props: ['image'],
  data () {
    return {
      loaded: false
    }
  },
  methods: {
    /**
     * We change loaded to true when image is loaded so we can put it on a smooth ease in effect changing the opacity triggering on the transition
     */
    onLoad () {
      this.loaded = true
    }
  }
}
</script>

<style scoped>
.image-card{
    width: 100%;
    height: 100%;
}
.fade-enter-active {
  transition: opacity 0.35s ease-in-out;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter {
  opacity: 0;
}
</style>
