<template>
  <div>
    <b-container class="py-2" :style="`background-color: ${loading ? 'blue' : 'white'}`">
      <b-row id="scroll-container" v-scroll="onScroll">
        <b-col
          v-for="(image,index) in imagesDisplayed"
          :key="image.id || index"
          class="img-wrapper"
          :cols="6"
          :md="4"
          :lg="3"
          @click="removeImage(index)"
        >
          <ImageCard :image="image" />
          <span class="img-remove-text"> Remove! </span>
        </b-col>
      </b-row>
    </b-container>
    <div class="loaded-items">
      Items loaded: <b>{{ imagesDisplayed.length }}</b> from <b>{{ images.length }}</b>
    </div>
  </div>
</template>

<script>
import ImageCard from '~/components/infinitescroll/ImageCard'
export default {
  components: {
    ImageCard
  },
  // eslint-disable-next-line vue/require-prop-types
  props: ['images'],
  data () {
    const _limit = 50
    return {
      limit: _limit,
      imagesDisplayed: this.images.slice(0, _limit),
      page: 0
    }
  },
  methods: {
    /**
     * Remove image by index
     */
    removeImage (index) {
      this.imagesDisplayed.splice(index, 1)
    },
    canLoadMoreImages () {
      return (this.page * this.limit) < this.images.length
    },
    /**
     * Load more images from our json source, add + 1 to the pagination
     */
    loadMoreImages () {
      this.loading = true
      this.page += 1
      this.imagesDisplayed = this.imagesDisplayed.concat(this.images.slice(this.page * this.limit, ((this.page) * this.limit) + this.limit))
      this.loading = false
    },
    /***
     * Load more images only if we reach the end of the page
     */
    onScroll (evt, el) {
      if ((window.scrollY + window.innerHeight) > el.clientHeight) {
        if (this.canLoadMoreImages()) {
          this.loadMoreImages()
        }
      }
    }
  }
}
</script>

<style scoped>
.loaded-items {
    position: fixed;
    left: 4px;
    bottom: 8px;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 12px;
    -webkit-box-shadow: -4px 10px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: -4px 10px 5px 0px rgba(0,0,0,0.55);
    box-shadow: -4px 10px 5px 0px rgba(0,0,0,0.55);
}
.img-remove-text{
    display: none;
}
.img-wrapper{
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
}
@media (min-width: 992px) {
  .img-wrapper:hover .img-remove-text {
    display: block;
    position: absolute;
    font-size: 2rem;
    background-color: red;
    padding: 8px;
    border-radius: 8px;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
}

</style>
