<template>
  <div>
    <InfiniteScroll v-if="images.length > 0" id="infinite-scroll-wrapper" :images="images" />
  </div>
</template>

<script>
import fetchImages from '~/data/api/images'
import InfiniteScroll from '~/components/infinitescroll/InfiniteScroll'
export default {
  components: {
    InfiniteScroll
  },
  layout: 'default',
  data () {
    return {
      images: []
    }
  },
  fetch () {
    /**
     * Loading our images from the placeholder site.
     * For simplification purposes we asumme that response is always 200.
     */
    fetchImages((err, data) => {
      if (!err) {
        this.images = data
      }
    })
  }
}
</script>
